extends layout

block content
  h1 Unesi podatke za novi proizvod!
  form(method='post',action='/proizvodi/add')
    #form-group
      label Name:
      input.form-control(name='name',type='text')
    #form-group
      label Url:
      input.form-control(name='url',type='text')
    #form-group
      label Price:
      input.form-control(name='price',type='text')
    #form-group
      label Kolicina:
      input.form-control(name='kolicina',type='text')
    br
    input.btn.btn-primary(type='submit',value='submit')